<title>Profile</title>
{% extends 'index.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/accounts">COI Requests</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-left">


<!--                {% if user.is_authenticated %}-->
<!--                <li><a href='/accounts/{{ user.pk }}/profile'>View Profile</a></li>-->

<!--                &lt;!&ndash;li><a href="/accounts/{{user.id}}/requesterupdate">Update Info</a></li&ndash;&gt;-->
<!--                <li><a href="/accounts/logout/">Logout</a></li>-->
<!--                    <li><a href="/accounts/recipient">Draft a request</a></li>-->
<!--                <li><a href="/accounts/{{user.pk}}/certholder">View Forms</a></li>-->
<!--                {% else %}-->
<!--                <li><a href="/accounts/register/">Register</a></li>-->
<!--                <li><a href="/accounts/login/">Login</a></li>-->
<!--                {% endif %}-->
            </ul>
          </div><!--/.nav-collapse -->

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/rChoose">Add + See Form</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/register/">Add Client</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/logout/">Logout</a></li>


                    </ul>
                </div>


            </div>
        </nav>
{% endblock %}

{%block home%}

{% endblock %}


    {% block content %}
<div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Certificate holder</h2>
<style>
        .column {
          float: left;
          padding: 5px;
        }

        .right {
          width: 25%;
        }


        .right2 {
          width: 25%;
        }

        .left {
          width: 50%;
        }
    </style>

    <br>
    <br>

        {% for recipient in recipient %}
        <div class="row">
        <div class="column left">
            <a href="/accounts/{{ recipient.id }}/adminviewdoc" class="list-group-item list-group-item-action">{{ recipient.name }}  {{ recipient.datefield }}</a>
        </div>
        <div class="column right">
            <a href="{% url 'accounts:editrecipient' pk=recipient.pk %}" class="list-group-item list-group-item-action">Edit</a>
        </div>
        <div class="column right">
            <a href="{% url 'accounts:recipientdelete' pk=recipient.pk %}" class="list-group-item list-group-item-action list-group-item-danger">Delete</a>




        </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}