
<title>Profile</title>

{% extends 'index.html' %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/{{ currUser.pk }}/profile">Profile</a></li>

                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/requester/">Requester</a></li>

                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/recipient">recipient</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">View Forms</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/accounts/logout/">Logout</a></li>
<!--                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li>-->

                    </ul>
</div>
{% endblock %}


{%block home%}

{% endblock %}


    {% block content %}
<div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Choose Requester</h2>
    <style>
        .column {
          float: left;
          padding: 5px;
        }

        .right {
          width: 25%;
        }

        .left {
          width: 75%;
        }
    </style>
    <br>
    <br>


        {% for requesterdisplay in requesterdisplay %}
        <div class="row">
        <div class="column left">
            <a href="{% url 'accounts:certholder' pk=requesterdisplay.pk %}" class="list-group-item list-group-item-action">{{ requesterdisplay.name }}</a>
        </div>
        <div class="column right">
            <a href="{% url 'accounts:editrequester' pk=requesterdisplay.pk %}" class="list-group-item list-group-item-action">Edit</a>
        </div>
            </div>
        {% endfor %}

    <br>
        <a class="btn btn-success" name = "button" href="/accounts/requester">New Requester</a>


    </div>
{% endblock %}



