<title>Delete</title>
{% extends 'index.html' %}
{%block home%}

{% endblock %}


    {% block content %}
    <div class="container">
    <h2 class="text-center  text-secondary mb-0" >Are You sure you want to delete this Certificate Request?</h2>
        <style>
        .column {
          float: left;
          padding: 5px;

        }

        .right {
          width: 20%;
        }


        .right2 {

          width: 20%;
          vertical-align: center;
        }

        .left {
          width: 30%;
        }
    </style>

        <br>
        <br>

    <div class="row">
        <div class = "column left"></div>
        <div class="column right">
            <a href="/accounts/{{ requester}}/certholder" class="list-group-item list-group-item-action">Go Back</a>
        </div>
        <div class="column right2">
            <form action="{% url 'accounts:recipientdelete' recipient.pk %}"  method="POST" >
                {% csrf_token %}
                <input type="submit" value="Delete" class="list-group-item list-group-item-action list-group-item-danger">
                </form>
            </form>
        </div>
    </div>

    </div >

{% endblock %}