<title>Requester Form</title>
{% extends 'index.html' %}
{% block jumbotron %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <br>
      <br>
      <br>
    <h1 class="display-4">Fluid jumbotron</h1>
  </div>
</div>

{% endblock %}
{% block home %}


{% endblock %}

{% block content %}
<h1>Requester Form</h1>
<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}


    <button class="btn btn-success" type="submit" name = "button">Submit</button>
</form>

{%endblock%}
